<div class="relative inline-block text-left" [id]="dropdownId">
  <div class="rounded-md shadow-sm">
    <button
      type="button"
      class="inline-flex justify-center items-center w-full rounded-md font-medium focus:outline-none focus:ring-1 focus:ring-offset-0.8"
      [ngClass]="buttonStyles + ' ' + sizeStyles"
      (click)="toggleDropdown($event)"
    >
      {{ selectedOption ? selectedOption.label : placeholder }}
      @if (isOpen) {
        <arrow-up-icon />
      } @else {
        <arrow-down-icon />
      }
    </button>
  </div>

  @if (isOpen) {
    <div
      class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-opacity-100 z-10"
      [ngClass]="divStyles"
    >
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        @for (option of options; track option.value) {
          <button
            class="block w-full text-left px-4 py-2 text-sm hover:text-gray-900"
            [ngClass]="optionStyles"
            role="menuitem"
            (click)="handleOptionClick(option)"
          >
            {{ option.label }}
          </button>
        }
      </div>
    </div>
  }
</div>
