<div class="container mx-auto space-y-6 sm:space-y-8">
  <hint-boxes
    [randomCountry]="randomCountry"
    [hintsEnabledCount]="hintsEnabledCount"
    class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-8 gap-2 sm:gap-4"
  />

  <div class="space-y-6 lg:flex lg:justify-center lg:gap-12 lg:space-y-0">
    <country-guess-input
      [countries]="countries"
      [currentGuess]="currentGuess"
      [guessedCountries]="guessedCountries"
      (setCurrentGuess)="handleSetCurrentGuess($event)"
      (evaluateGuessAndUpdateState)="handleEvaluateGuessAndUpdateState()"
    />

    <guessed-countries-list
      [countries]="countries"
      [guessedCountries]="guessedCountries"
      [randomCountry]="randomCountry"
    />
  </div>
</div>

<!-- <WinModal
isOpen={isWinModalOpen}
handleClose={() => {
handleSetInitialState();
setIsWinModalOpen(false);
}}
randomCountry={randomCountry}
totalGuessesNeeded={totalGuessesNeeded}
/>
<LoseModal
isOpen={isLoseModalOpen}
handleClose={() => {
handleSetInitialState();
setIsLoseModalOpen(false);
}}
randomCountry={randomCountry}
/> -->
