<div class="container mx-auto space-y-6 sm:space-y-8">
  <hint-boxes
    [randomCountry]="randomCountry"
    [hintsEnabledCount]="hintsEnabledCount"
    class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-8 gap-2 sm:gap-4"
  />

  <div class="space-y-6 lg:flex lg:justify-center lg:gap-12 lg:space-y-0">
    <country-guess-input
      [countries]="countries"
      [guessedCountries]="guessedCountries"
      (evaluateGuessAndUpdateState)="handleEvaluateGuessAndUpdateState($event)"
    />

    <guessed-countries-list
      [countries]="countries"
      [guessedCountries]="guessedCountries"
      [randomCountry]="randomCountry"
    />
  </div>
</div>

@if (isWinModalOpen) {
  <win-modal
    [randomCountry]="randomCountry"
    [totalGuessesNeeded]="totalGuessesNeeded"
    (handleClose)="handleSetInitialState(); isWinModalOpen = false"
  />
}

@if (isLoseModalOpen) {
  <lose-modal
    [randomCountry]="randomCountry"
    (handleClose)="handleSetInitialState(); isLoseModalOpen = false"
  />
}
