<header>
  <nav class="bg-gray-100 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a routerLink="/" class="flex items-center">
        <h1 class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
          Angular framework
        </h1>
      </a>

      <div class="flex items-center lg:order-2">
        <button
          type="button"
          (click)="toggleDarkMode()"
          class="text-sm px-3 py-2 lg:py-2.5 mr-1 text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          @if (isDarkMode) {
            <moon-icon />
          } @else {
            <sun-icon />
          }
        </button>

        <button
          type="button"
          (click)="toggleMobileNav()"
          class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          data-collapse-toggle="mobile-menu"
          aria-controls="mobile-menu"
          [ariaExpanded]="isMobileNavOpen"
        >
          <span class="sr-only">Open main menu</span>

          @if (isMobileNavOpen) {
            <close-icon />
          } @else {
            <bars-icon />
          }
        </button>
      </div>

      <!-- Objekt jako hodnota v [ngClass] slouží k podmíněnému přidání CSS stylů. -->
      <!-- "hidden" je TailwindCSS třída, která se použije právě tehdy, kdy je podmínka splněna. -->
      <div
        id="mobile-menu"
        class="justify-between items-center w-full lg:flex lg:w-auto lg:ml-auto lg:mr-10 lg:order-1"
        [ngClass]="{hidden: !isMobileNavOpen}"
      >
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          @for (route of appRoutes; track route.title) {
            <li>
              <!-- Direktiva routerLinkActive rozpoznává aktivní umístění dle URL adresy. -->
              <!-- #track vytvoří ukazatel (referenci) na hodnotu routerLinkActive. -->
              <!-- Následně přes "track" můžeme přistupovat k aktuální hodnotě direktivy např. jako v [ngClass]. -->
              <a
                [routerLink]="route.path"
                routerLinkActive
                [routerLinkActiveOptions]="routerLinkActiveOptions"
                #track="routerLinkActive"
                class="block py-2 pr-4 pl-3 lg:p-0"
                [ngClass]="{
                  'text-white rounded bg-blue-700 lg:bg-transparent lg:text-blue-700 dark:text-white':
                    track.isActive,
                  'text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700':
                    !track.isActive
                }"
                ariaCurrentWhenActive="page"
              >
                {{ route.title }}
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Převzato a upraveno podle: -->
<!-- https://flowbite.com/blocks/marketing/header/ -->
