<div class="border-t border-gray-300 pt-4 lg:border-t-0 lg:pt-0">
  <h2 class="text-xl font-bold mb-3">Guessed countries</h2>

  <div class="flex flex-col w-full lg:w-[27rem] xl:w-[32rem]">
    @if (enrichedGuessedCountries.length > 0) {
      <ul class="space-y-2">
        @for (country of enrichedGuessedCountries; track country) {
          <li key="{index}" class="flex justify-between rounded-md bg-gray-100 p-1.5">
            <span> {{ $index + 1 }}. {{ country.name }} {{ country.flag }} </span>
            <span>{{ country.distanceFromRandomCountry }} km away</span>
          </li>
        }
      </ul>
    } @else {
      <p>No country guessed yet. Please, take a guess!</p>
    }
  </div>

  @if (enrichedGuessedCountries.length > 0) {
    <p class="mt-4">Away distance is calculated from the center of each country.</p>
  }
</div>
