<div class="border h-full">
  <textarea
    autosizeTextArea
    class="block w-full min-h-0 p-3 pr-12 pb-8 resize-none !outline-none"
    placeholder="Type to translate ..."
    [ngModel]="inputText"
    (ngModelChange)="handleInputChange($event)"
  >
  </textarea>
</div>

@if (inputText.length) {
  <button
    class="absolute top-2 right-2 text-gray-500 text-sm p-1.5 hover:bg-gray-100"
    (click)="setInputText.emit('')"
  >
    <close-icon />
  </button>
}

<span class="absolute bottom-2 right-2 text-gray-500 text-sm">
  {{ inputText.length }} / {{ maximumCharactersCount }} characters
</span>
