<div class="border h-full">
  <div class="block w-full"></div>
  <textarea
    #textAreaRef
    class="block w-full min-h-0 p-3 pr-12 pb-8 resize-none !outline-none"
    placeholder="Type to translate ..."
    [value]="inputText"
    (input)="handleInputChange($event)"
  >
  </textarea>
</div>

<button
  *ngIf="inputText.length"
  class="absolute top-2 right-2 text-gray-500 text-sm p-1.5 hover:bg-gray-100"
  (click)="setInputText.emit('')"
>
  <close-icon />
</button>

<span class="absolute bottom-2 right-2 text-gray-500 text-sm">
  {{ inputText.length }} / {{ maximumCharactersCount }} characters
</span>
